<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
        <add name="PostgreSqlConnection" connectionString="Host=localhost;Username=postgres;Password=123;Database=movies" />
  </connectionStrings>
  <appSettings>
      <!-- create a new apikey on the site https://developers.themoviedb.org/3/getting-started -->
      <add key="MovieDbApiKey" value=""/>
      <add key="MovieDbApiUrl" value="https://api.themoviedb.org/3/"/>
      <add key="MovieDbApiGetRunning" value="movie/now_playing?api_key={0}&amp;language=en-US&amp;region=IT&amp;page={1}"/>
      <add key="MovieDbApiGetCrew" value="movie/{0}/credits?api_key={1}"/>
      <add key="MovieDbApiGetPerson" value="person/{0}?api_key={1}"/>
    </appSettings>
</configuration>